.calculator {
  width: 300px;
  margin: 100px auto;
  border: 1px solid #cccccc;
  padding: 10px;
  border-radius: 5px;
}

.calculator #display {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.calculator .buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.calculator button {
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
}

.calculator button:hover {
  background-color: #eee;
}
